header{
    background-color: hsl(88, 39%, 73%);
    color:#5d5646;
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
}
body{
    background-color: hsl(43, 49%, 90%);
    color:hsl(42, 14%, 32%);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
}
footer{
    background-color: hsl(88, 39%, 73%);
    color:hsl(42, 14%, 32%);
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
}
.tarjeta{
    border-radius: 15px;
    padding: 25px;
    background-color: rgb(255, 252, 240);
    filter:drop-shadow(2px 2px 3px)
    
}
.tituloTarjeta{
    font-weight: bold;
    font-size: 18px;
}