header{
    background-color: hsl(88, 39%, 73%);
    color:#5d5646;
    position: fixed;
}
body{
    background-color: hsl(43, 49%, 90%);
    color:hsl(42, 14%, 32%);
    padding: 10%;
}
footer{
    background-color: hsl(88, 39%, 73%);
    color:hsl(42, 14%, 32%)
}
.tarjeta{
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(255, 252, 240);
    filter:drop-shadow(2px 2px 3px)
    
}
.tituloTarjeta{
    font-weight: bold;
    font-size: 18px;
}