header{
    position:static;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 16px;
    background-color: hsl(88, 39%, 73%);
    color:#5d5646;
    text-align: center;
}
body{
    background-color: hsl(43, 49%, 90%);
    background-size: 100%;
    color:hsl(42, 14%, 32%);
    @font-face {
        font-family: 'Futura';
        src: url('./fonts/Futura Book.ttf') format('ttf');
    }
}
footer{
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    background-color: hsl(88, 39%, 73%);
    color:hsl(42, 14%, 32%);
}
.tarjeta{
    border-radius: 15px;
    padding: 25px 15px;
    background-color: rgb(255, 252, 240);
    filter:drop-shadow(2px 2px 3px) 
}
.tituloTarjeta{
    font-weight: bold;
    font-size: 18px;
}
.fondoIglesia {
       background-image: url(./Imágenes/Fondos/Brody-Columbus-Iglesia.jpg);
       opacity: 0.5;
       background-size: 100%;
}