header{
    background-color: #bbd49e;
    color:#5d5646;
    position: fixed;
}
body{
    background-color: #f2ebd9;
    color:#5d5646;
    padding: 10%;
}
footer{
    background-color: #bbd49e;
    color:#5d5646
}
.tarjeta{
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(255, 252, 240);
    filter:drop-shadow(2px 2px 3px)
    
}
.tituloTarjeta{
    font-weight: bold;
    font-size: 18px;
}